<%-include("../partials/header.ejs")%>
<div class="row">
    <form action="/f/<%=channel%>/<%=id%>/comments/<%=comment._id%>?_method=PUT" class="col s12" method="POST">
        <h3 class="center-align">Edit Comment</h3>
    <div class="container">
        <div class="row">
            <div class="col s12 input-field">
                <label for="">Comment</label>
                <input type="text" name="comment[text]" value="<%=comment.text%>">
            </div>
        </div>
        <div class="row">
            <div class="col s12 input-field center-align">
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button>
                <p>Go <a href="/f/<%=channel%>/<%=id%>">back</a></p>
            </div>
        </div>
    </div>
    </form>
</div>
<%-include("../partials/footer.ejs")%>