<%-include("../partials/header.ejs")%>
<div class="row">
    <%if(!thread){%>
        <form action="/f/<%=post.channel%>/<%=post._id%>/comments/new" class="col s12" method="POST">
            <h3 class="center-align">Create new Comment</h3>
        <div class="container">
            <div class="row">
                <div class="col s12 input-field">
                    <label for="">Comment</label>
                    <input type="text" name="comment[text]">
                </div>
            </div>
            <div class="row">
                <div class="col s12 input-field center-align">
                    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                        <i class="material-icons right">send</i>
                    </button>
                    <p>Go <a href="/f/<%=post.channel%>/<%=post._id%>">back</a></p>
                </div>
            </div>
        </div>
        </form>
    <%}else{%>
        <form action="/f/<%=post.channel%>/<%=post._id%>/comments/<%=id%>/new" class="col s12" method="POST">
            <h3 class="center-align">Create new Comment</h3>
        <div class="container">
            <div class="row">
                <div class="col s12 input-field">
                    <label for="">Comment</label>
                    <input type="text" name="comment[text]">
                </div>
            </div>
            <div class="row">
                <div class="col s12 input-field center-align">
                    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                        <i class="material-icons right">send</i>
                    </button>
                    <p>Go <a href="/f/<%=post.channel%>/<%=post._id%>">back</a></p>
                </div>
            </div>
        </div>
        </form>
    <%}%>
</div>
<%-include("../partials/footer.ejs")%>