<%-include("partials/header.ejs")%>
<h1>Front Page</h1>
<div class="container">
    <div class="row">
        <div class="col s12 m8">
            <%for(var i=0;i<posts.length;i++){%>
                <div class="row">
                    <div class="col s12">
                        <div class="card">
                            <div class="card-content">
                                <h5><%=posts[i].title%></h5>
                                <h6><%=posts[i].author.username%></h6>
                            </div>
                            <div class="card-action">
                                <a href="/f/<%=posts[i].channel%>/<%=posts[i]._id%>" class="waves-effect blue lighten-1 white-text btn">View</a>
                            </div>
                        </div>
                    </div>
                </div>
            <%}%>
        </div>
    </div>
</div>
<%-include("partials/footer.ejs")%>